.dropdown-menu {
  position: relative;
  display: grid;
}

.dropdown-menu-item-container {
  grid-row: 2;
  padding-top: 0;
  margin-top: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.dropdown-menu-heading, .dropdown-menu-item {
  cursor: pointer;
}

.dropdown-menu-item {
  transform: translateY(-100vh);
}

.dropdown-menu-item {
  transition: transform 300ms ease-in-out;
}
