.dropdown-menu-item-container {
  padding-top: 0;
  margin-top: 0;
  overflow: hidden;
}

.dropdown-menu-heading, .dropdown-menu-item {
  cursor: pointer;
}

.dropdown-menu-heading {
  position: relative;
  z-index: 1;
}

.dropdown-menu-item {
  transition: transform 300ms ease-in-out;
}
