.dropdown-menu-heading, .dropdown-menu-item {
  cursor: pointer;
}

.dropdown-menu-heading {
  position: relative;
  z-index: 1;
}

.dropdown-menu-item {
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.dropdown-menu-item:not(.dropped-down) {
  opacity: 0;
}
